
div {
	font-family: sans-serif;
}

div#content {
	max-width: 400px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

div#footer {
	padding-top: 30px;
	font-size: 60%;
	text-align: right;
}

div#list {
	display: flex;
	flex-direction: column;
}

div.option-wrapper {
	width: calc(100% - 6px);
	margin: 3px;
	display: flex;
}

div.option {
	width: calc(70% - 5px);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
}

div.option div.title-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

div.option div.title {
	font-size: 150%;
	font-weight: bold;
	text-align: left;
}

div.option div.info {
	width: 100%;
	text-align: left;
}

div.option div.info ul {
	list-style-type: none;
	padding: 0;
	margin: 5px 0 0 0;
}

div.option div.info li {
	margin: 3px 0 0 0;
}

div.button {
	width: 30%;
	margin: 0 0 0 5px;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* LIGHT MODE */

body {
	background: #E8E8E8;
}

div {
	color: #2B2B2B;
}

div.option, div.button {
	background: #F5F5F5;
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
	body {
		background: #242424;
	}

	div {
		color: #E1E1E1;
	}

	div.option, div.button {
		background: #373737;
	}
}
