
* {
	user-select: none;
	-webkit-user-select: none;
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: fixed;
}

body {
	box-sizing: border-box;
	width: calc(100% - 16px);
	height: calc(100% - 16px);
	margin: 8px;
	position: fixed;
}

div {
	font-family: sans-serif;
}

div#content {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
	height: 100%;
	min-height: 400px;
	max-height: 800px;
	margin: auto;
	padding-bottom: env(safe-area-inset-bottom);
}

div#header {
	display: flex;
}

div#back-button {
	border-radius: 10px;
	padding: 8px 15px;
	display: inline-block;
	font-size: 150%;
	margin: 0  4px 0 0;
}

div#title {
	flex-grow: 2;
	border-radius: 10px;
	margin: 0 4px 0 0;
	font-size: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

div#score {
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

div#question {
	display: flex;
	flex-grow: 0;
	width: 100%;
	min-height: 120px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 4px 0;
}

div#question div.container {
	display: flex;
	width: 100%;
	height: 50vh;
	max-height: 70vw;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

div#question div.container img {
	max-width: 90%;
	max-height: 90%;
}

div#question div#text {
	font-size: 230%;
	text-align: center;
}

div#options {
	display: grid;
	flex-grow: 1;
	height: 0px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 4px;
	grid-row-gap: 4px;
}

div.option {
	display: flex;
	box-sizing: border-box;
	overflow: auto;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

@media (min-width: 400px) {
	div.option {
		font-size: 120%;
	}

	@media (min-height: 700px) {
		div.option {
			font-size: 150%;
		}
	}
}

div.option div.container {
	display: flex;
	width: 85%;
	height: 80%;
	min-height: 50px;
	justify-content: center;
	align-items: center;
}

div.option div.container img {
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

/* LIGHT MODE */

body {
	background: #E8E8E8;
}

div {
	color: #2B2B2B;
}

div#back-button, div#title, div#score, div#question, div.option {
	background: #F5F5F5;
}

div#question div.container img, div.option div.container img {
	filter: drop-shadow(0 0 10px #E1E1E1);
}

div.incorrect {
	background-color: #FF6962;
}

div.correct {
	background-color: #77DD78;
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
	body {
		background: #242424;
	}

	div {
		color: #E1E1E1;
	}

	div#back-button, div#title, div#score, div#question, div.option {
		background: #373737;
	}

	div#question div.container img, div.option div.container img {
		filter: drop-shadow(0 0 10px #2B2B2B);
	}

	div.incorrect {
		background-color: #832F2C;
	}

	div.correct {
		background-color: #2A7E2B;
	}
}
