<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>flag.school</title>

	<link rel="stylesheet" href="style.css">

	<script src="../lib/jquery.min.js"></script>
	<script src="../data.js"></script>
	<script src="../game.js"></script>
	<script src="script.js"></script>
</head>
<body>

<div id="content">
	<div id="header">
		<div id="back-button" onclick="window.location='..';">
			⬅️
		</div>
		<div id="title">
		</div>
		<div id="score">
		</div>
	</div>
	<div id="list">
	</div>
</div>

</body>
</html>
