
div {
	font-family: sans-serif;
}

div#content {
	max-width: 400px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

div#header {
	display: flex;
}

div#back-button {
	border-radius: 10px;
	padding: 5px 10px;
	display: inline-block;
	font-size: 150%;
	margin: 0  4px 0 0;
}

div#title {
	flex-grow: 2;
	border-radius: 10px;
	margin: 0 4px 0 0;
	font-size: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

div#score {
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

div#list {
	display: flex;
	flex-direction: column;
}

div.option {
	border-radius: 10px;
	margin: 4px 0 0 0;
	display: flex;
}

div.flag {
	height: 150px;
	max-height: 35vw;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img.flag {
	max-width: 90%;
	max-height: 90%;
}

div.info {
	width: 50%;
	display: flex;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
}

/* LIGHT MODE */

body {
	background: #E5E5E5;
}

div {
	color: #2B2B2B;
}

div#back-button, div#title, div#score, div#question, div.option {
	background: #F5F5F5;
}

img.flag {
	filter: drop-shadow(0 0 10px #E1E1E1);
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
	body {
		background: #242424;
	}

	div {
		color: #E1E1E1;
	}

	div#back-button, div#title, div#score, div#question, div.option {
		background: #373737;
	}

	img.flag {
		filter: drop-shadow(0 0 10px #2B2B2B);
	}
}
